#title{
  color: grey;
  text-align: center;
  font-size: 3em;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 100% 100%;
  justify-content: center;
  grid-column-gap: 1%;
  grid-row-gap: 4%;
  margin-top: 2%;
}
