#title{
  color: grey;
  text-align: center;
  font-size: 3em;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-column-gap: 1%;
}

.grid-items{
  border-style: double;
  border-color: grey;
  border-radius: 5%;
  background-color: whitesmoke;
}

.box1{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.box2{
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
}

.box3{

}

.box4{

}

.box5{
  
}

.box6{
  
}